/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}
body {
  background: hsl(50deg 80% 80%);
  display: grid;
  place-content: center;
}
.avatar-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.avatar-btn {
  background: transparent;
  width: 80px;
  height: 80px;
  padding: 2px;
  border: 2px solid;
  border-radius: 1000px;
  outline: 2px solid white;
  background: white;
  overflow: hidden;
}
.avatar-btn:hover {
  border-color: hotpink;
  border-style: dashed;
}

.avatar {
  display: block;
  width: 100%;
  border-radius: 1000px;
  transition: transform 500ms;
}
.avatar-btn:hover .avatar {
  transform: rotate(-25deg);
  transition: transform 250ms;
}
